<div class="app-container">

  <nav class="navbar">
    <ul class="nav-list">
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/invoices" routerLinkActive="active">Invoices</a></li>
      <li><a routerLink="/make-invoice" routerLinkActive="active">Create Invoice</a></li>
      <li><a routerLink="/customer-detail" routerLinkActive="active">Customer Details</a></li>
      <li><a routerLink="/company-detail" routerLinkActive="active">Company Details</a></li>
    </ul>
  </nav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div> 
<!-- <app-company-detail></app-company-detail> -->
<!-- <app-customer-detail></app-customer-detail> -->
 <!-- <app-invoice-list></app-invoice-list> -->
  <!-- <app-make-invoice></app-make-invoice> -->
